<style>
#servers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    border: 0px;
}

#servers td, #servers th {
    font-size: 1em;
    border: 0px solid #5521ff;
    padding: 3px 7px 2px 7px;
    vertical-align: top;
}

#servers th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    border: 0px solid #5521bf;
    padding-bottom: 4px;
    background-color: #9942C9;
    color: #ffffff;
}

#services {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border: 2px solid #5521bf;
    background-color: #dfdfdd;
    border-collapse: collapse;
}

#services td, #services th {
    font-size: 1em;
    border: 0px solid #9921bf;
    background-color: #dfdfdd;
    padding: 3px 7px 2px 7px;
}

#services th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #9942C9;
    color: #ffffff;
}

#services tr.alt td {
    color: #000000;
    background-color: #99D3F2;
}
</style>